<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <script src="https://kit.fontawesome.com/7c55f0a28f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&display=swap" rel="stylesheet">
    <title>{% block title %}Online voting{% endblock %}</title>
  </head>
  <body>
    <header class="header-login">
      <div class="container">
        <div class="header__inner">
          <a href="/" class="header__logo-login">ONLINE VOTING</a>
          {% block nav %}{% endblock %}
        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__col">
            <div class="footer_logo">Online voting</div>
            <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.</div>

        </div><!-- /.<footer__inner -->

        <div class="copyright">
          © 2019 Online voting by <span>Ilya Likhota</span>
        </div>

      </div><!-- /.container -->
    </footer>

  </body>
</html>
