{% extends "users/base_users.html" %}

{% block title %}Login{% endblock %}

{% block nav %}
  <nav class="nav">
    <a class="nav__link-login" href="/users/register/">Register</a>
  </nav>
{% endblock %}

{% block content %}
  <div class="login__form">
    <h1>Вход</h1>
    <div class="big-card form">
      <form method="POST" action="/accounts/login/">
        {% csrf_token %}
        {% if error %}
        <div class="error">Something went wrong</div>
        {% endif %}

        <input placeholder="Username" name="username" type="text" class="text-input">
        <input placeholder="Password" name="password" type="password" class="text-input">

        <input type="submit" class="submit-btn">
      </form>
    </div>
  </div>  
{% endblock content %}
