{% extends "poll/base_account.html" %}

{% block title %}Online voting | Login{% endblock title %}

{% block content %}
  <div class="login__form__container">
    <form class="login__form" method="POST" action="{% url "login_url" %}">
      {% csrf_token %}

      <h1 class="login__form__title">Login</h1>

      {% if error %}
        <div class="error">Something went wrong</div>
      {% endif %}

      <input placeholder="Username" name="username" type="text" class="login__input"/>
      <input placeholder="Password" name="password" type="password" class="login__input"/>
      <input type="submit" class="submit-btn">
    </form>
  </div>
{% endblock content %}
