<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include "poll/head_html.html" %}
    <title>{% block title %}Online voting | Register{% endblock title %}</title>
  </head>
  <body>

    {% include "poll/header_inner.html" %}

    <section class="section">
      <div class="login__form">
        <h1>Регистрация1</h1>
        <div class="big-card form">
          <form method="POST" action="{% url "register" %}">
            {% csrf_token %}

            {{ form }}

            <input type="submit" class="submit-btn">
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        {% include "poll/footer_about.html" %}
        {% include "poll/footer_copyright.html" %}
      </div><!-- /.container -->
    </footer>

  </body>
</html>
