{% extends "poll/base_account.html" %}

{% block title %}Online voting | Register{% endblock title %}

{% block content %}
  <div class="login__form__container">
    <form class="login__form" method="POST" action="{% url "register_url" %}">
      {% csrf_token %}
      
      <h1 class="login__form__title">Registration</h1>

      {% if error %}
        <div class="error">Something went wrong</div>
      {% endif %}

      {% for field in form %}
        {{ field }}
      {% endfor %}

      <input type="submit" class="submit-btn">
    </form>
  </div>
{% endblock content %}
