{% extends "users/base_users.html" %}

{% block title %}Registration{% endblock %}

{% block nav %}
  <nav class="nav">
    <a class="nav__link-login" href="/users/accounts/login">Log in</a>
  </nav>
{% endblock %}

{% block content %}
  <div class="login__form">
    <h1>Регистрация</h1>
    <div class="big-card form">
      <form method="POST" action="/register">
        {% csrf_token %}

        {{ form }}

        <input type="submit" class="submit-btn">
      </form>
    </div>
  </div>
{% endblock %}
