{% extends "poll/main.html" %}

{% block title %}
  Polls list
{% endblock %}

{% block carts %}

  <div class="card-columns">

    {% for poll in polls %}
      <div class="card" style="width: 18rem;">
        <img src="{{ poll.picture.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ poll.title }}</h5>
          <p class="card-text">{{ poll.description | truncatechars:200 }}</p>
          <a href="#" class="btn btn-primary">Participate</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
