<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&display=swap" rel="stylesheet">
    <title>
      {% block title %}
        Voting site
      {% endblock %}
    </title>
  </head>
  <body>

    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a href="/" class="header__logo">Online voting</a>
          <nav class="nav">
            <a class="nav__link" href="/">Log in</a>
            <a class="nav__link" href="/">Sign in</a>
          </nav>
        </div>
      </div>
    </header>

    <div class="intro">
      <div class="container">
        <div class="intro__inner">
          <h2 class="intro__suptitle">Welcome to online voting</h2>
          <h1 class="intro__title">Creative template</h1>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="container">

        <div class="section__header">
          <h3 class="section__suptitle">Your vote counts!</h3>
          <h2 class="section__title">Polls</h2>
          <div class="section__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua.</p>
          </div>
        </div>

        <div class="carts">
          <div class="cart__item">
            <div class="cart__img">
              <img src="static/images/carts/1.jpg" alt="">
            </div>
            <div class="cart__description">Description</div>
          </div>
          <div class="cart__item">
            <div class="cart__img">
              <img src="static/images/carts/2.jpg" alt="">
            </div>
            <div class="cart__description">Description</div>
          </div>
          <div class="cart__item">
            <div class="cart__img">
              <img src="static/images/carts/3.jpg" alt="">
            </div>
            <div class="cart__description">Description</div>
          </div>


        </div>




      </div>
    </section>

  </body>
</html>
