{% extends "poll/base_account.html" %}

{% block title %}Delete poll "{{ poll.title|title }}"{% endblock title %}

{% block content %}
  <div class="container">
    <form action="{% url 'poll_delete_url' poll_id=poll.id %}" method="post">
      {% csrf_token %}

      <div class="title__forms">
        Are you sure you want to delete the poll "{{ poll.title|title }}"?
      </div>

      <button type="submit" name="button" class="subscribe_btn">Delete</button>
      <a class="cancel__btn" href="{% url "account_url" user.id %}">Cancel</a>
    </form>
  </div>
{% endblock content %}
