{% extends "./base_account.html" %}

{% block title %}Online voting | {{ question.id }}{% endblock title %}

{% block content %}
  <div class="container">
    {{ question_formset.managment_form }}
    {{ question_formset.non_form_errors }}

    {% for question_form in question_formset.forms %}
      {{ question_form.as_p }}

      {% if question_form.nested %}
        {{ question_form.nested.managment_form }}
        {{ question_form.nested.non_form_errors }}

        {% for nested_form in question_form.nested.forms %}
          {{ nested_form.as_p }}
        {% endfor %}

      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
