{% extends "./base_account.html" %}

{% block title %}Online voting | {{ question.id }}{% endblock title %}

{% block content %}
  <div class="container">

    <div class="account__header__inner">
      <a class="account__nav__link" href="{% url "choice_create_url" question.id %}">
        <i class="fas fa-plus fa-lg"></i>
        <div class="add__btn">add choice</div>
      </a>
    </div>

    <div class="table__user__polls">
      {% if question.choices.all %}
      <h4>List of choices for question "{{ question.title }}"</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Made at</th>
                <th scope="col">Edit / Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for choice in question.choices.all %}
                <tr>
                  <th scope="row">{{ choice.id }}</th>
                  <td>{{ choice.title }}</td>
                  <td>{{ choice.made_at}}</td>
                  <td>
                    <a class="account__nav__link" href="{% url "choice_update_url" choice.id %}">
                      <i class="fas fa-pen"></i>
                    </a>
                    <a class="account__nav__link" href="{% url "choice_delete_url" choice.id %}">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      {% else %}
        <p>There is no choices yet :(</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
