body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url('../images/intro.jpg')
  center no-repeat;
  background-size: cover;
}

.intro__inner {
  color: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.intro__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.intro__suptitle {
  margin-bottom: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  color: #fff;
  text-align: center;
}


/* Header */
.header {
  width: 100%;
  padding-top: 40px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 25px;
  font-weight: 700;
  color: #fff;

  text-decoration: none;
}

.header__logo:hover {
  color: #f54242;

  text-decoration: none;
}


/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color 0.1s linear;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #f54242;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #f54242;
  text-decoration: none;

}

.nav__link:hover::after {
  opacity: 1;
}




/* Section */
.section {
  padding: 10px 0 50px 0;

  background-color: #c4cdcf;
}

.section__header {
  /* margin-bottom: 40px; */
  width: 100%;
  max-width: 700px;
  margin: 50px auto 60px;

  text-align: center;
}

.section__suptitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: #f54242;
}

.section__title {
  font-size: 35px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px auto 25px;

  background-color: #f54242;
}

.section__text {
  font-size: 14px;

  color: #555;
}

/* Carts */
.carts {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.cart__item {
  width: 350px;
  position: relative;
}

.cart__item:hover .cart__img {
  transform: translateY(-10px);
}

.cart__item:hover .cart__img img {
  opacity: 0.3;
}

.cart__item:hover .cart__description {
  opacity: 1;
}


.cart__img {
  background: linear-gradient(to bottom, #ffa538, #f54242);

  transition: transform 0.1s linear;
}

.cart__img img {
  display: block;
  transition: opacity 0.1s linear;
}

.cart__description {
  width: 100%;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translateY(-50%);

  transition: opacity 0.1s linear;
}


/* Cards */
/* @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
}

.card--1 .card__img, .card--1 .card__img--hover {
  background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.card--2 .card__img, .card--2 .card__img--hover {
  background-image: url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.card__clock {
  width: 15px;
  vertical-align: middle;
  fill: #AD7D52;
}

.card__time {
  font-size: 12px;
  color: #AD7D52;
  vertical-align: middle;
  margin-left: 5px;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  top: 0;
}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
   padding: 16px 24px 24px 24px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
} */


/* -------------------------------- */
/* html {
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}
header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
} */
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}


/* -------------------------------- */


/* Footer */
.footer {
  padding-top: 65px;
  padding-bottom: 10px;

  background-color: #ededed;
}

.footer__about {
  padding-bottom: 30px;
}

.footer_logo {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
  color: #bababa;
}

.footer__text {
  margin-bottom: 30px;
  font-size: 14px;
  color: #999;
}

.footer__social {
  margin-bottom: 25px;
}


.footer__social-header {
  padding-bottom: 15px;

  font-size: 14px;
  color: #777;
}

.footer__social-header  b {
  font-size: 18px;
}

.footer__social-content {
  border-top: 1px solid #bababa;
  padding-top: 15px;
  font-size: 15px;
  color: #777;
  font-style: italic;
  font-weight: 300;
}

.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  font-size: 18px;
  color: #777;
}

.footer__social-content a:hover {
  color: #f54242;
}


/* Subscribe */
.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
  margin-bottom: 50px;
}


.subscribe__input {
  width: 60%;
  height: 40px;
  padding: 12px;

  background: #fff;
  border: 1px solid #bababa;
  border-right: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.1;
  color: #333;
  font-style: italic;
  font-weight: 300;
}

.subscribe__input:focus {
  outline: 0;
  border-color: #f54242;
}


.subscribe_btn {
  width: 40%;
  height: 40px;
  padding: 12px 20px;

  background-color: #f54242;
  border: 0;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  transition: background 0.2s linear;
}

.subscribe_btn:hover {
    background-color: #d13838;
}

.subscribe_btn:focus {
  outline: 0;
}


/* Copyright */
.footer__copyright {
  padding: 20px 0;
  border-top: 1px solid #bababa;

  font-size: 14px;
  color: #777;
  text-align: center;
}

.footer__copyright span {
  color: #f54242;
}


/* Login header */
.header-login {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 5px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: #ebebeb;
}

.header__logo-login {
  font-size: 25px;
  font-weight: 700;
  color: #bababa;

  text-decoration: none;
}

.header__logo-login:hover {
  color: #f54242;

  text-decoration: none;
}

/* Login nav */
.nav__link-login {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  position: relative;

  color: #777;
  text-decoration: none;

  transition: color 0.1s linear;
}

.nav__link-login::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #f54242;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav__link-login:hover {
  color: #f54242;
}

.nav__link-login:hover::after {
  opacity: 1;
}


/* Login__header */
.login__header {
  text-align: center;
  font-size: 35px;
  padding-top: 100px;
  padding-bottom: 50px;
}


/* Forms */
form {
  width: 100%;
  overflow: hidden;
}

.form {
  width: 40%;
  max-width: 500px;
  display: flex;
  margin: 20px auto 50px auto;
}

.form input {
  background: #ebebeb;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  margin: 20px 20px 0 20px;
  width: 85%;
}

.form label {
  display: block;
  margin-left: 20px;
}

input.submit-btn {
  background: #f54242;
  border: none;
  color: white;

  cursor: pointer;

  padding: 20px 0 20px 0;
  width: 100%;
  margin: 20px 0 0 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.login__title {
  margin: 30px auto 10px auto;
  text-align: center;
}

.login__form {
  padding-top: 50px;
  /* background-color: #ebebeb; */
}


.title-card {
  font-size: 20px;
  color: black;
}

.big-card {
  background: white;
  /* margin: 30px; */
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  line-height: 1em;

  border: lighgray 1px solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;

  transition: all ease-in-out 200ms;
}
