body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 75vh;
  /* background: url('uploads/img/intro.jpg') */
  background: url('intro.jpg')
  center no-repeat;
  background-size: cover;
}
.intro__inner {
  color: #fff;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.intro__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.intro__suptitle {
  margin-bottom: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  color: #fff;
  text-align: center;
}


/* Header */
.header {
  width: 100%;
  padding-top: 40px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 25px;
  font-weight: 700;
  color: #fff;

  text-decoration: none;
}
.header__logo:hover {
  color: #f54242;

  text-decoration: none;
}
.header__user_id {
  vertical-align: top;
  font-size: 15px;
  margin-right: 0;
  color: #fff;
}
.account__header {
  width: 100%;
  padding: 0 10px 0 10px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: #dee2e6;
}
.account__header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
}
.account__header__logo {
  font-size: 25px;
  font-weight: 700;
  color: #bababa;

  text-decoration: none;
}
.account__header__logo:hover {
  color: #f54242;

  text-decoration: none;
}
.add__btn {
  display: inline-block;
  vertical-align: top;
  margin: -1px 5px;
}


/* Nav */
.nav {
  font-size: 14px;
  /* text-transform: uppercase; */
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color 0.1s linear;
}
.nav__link::after {
  background-color: #f54242;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}
.nav__link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  color: #f54242;
  text-decoration: none;
}
.nav__link:hover::after {
  opacity: 1;
}


/* Account__nav */
.account__nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  position: relative;

  color: #999;
  text-decoration: none;

  transition: color 0.1s linear;
}
.account__nav__link::after {
  background-color: #f54242;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}
.account__nav__link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

  color: #f54242;
  text-decoration: none;
}
.account__nav__link:hover::after {
  opacity: 1;
}


/* Section */
.section {
  padding: 10px 0 50px 0;

  background-color: #f3f0ec;

  box-shadow:
    inset 0px 0px 5px rgba(0,0,0,0.3);
}
.section__header {
  width: 100%;
  max-width: 700px;
  margin: 50px auto 60px;

  text-align: center;
}
.section__suptitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: #f54242;
}
.section__title {
  font-size: 35px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px auto 25px;

  background-color: #f54242;
}
.section__text {
  font-size: 14px;

  color: #555;
}


/* Cards */
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
  border-radius: 5px;
  border: none;
}
.card:hover {
  top: -10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px
}
.take_poll__btn {
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #555;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.card:hover .take_poll__btn{
  display: inline-block;
  opacity: 1;
}
.take_poll__btn:hover {
  text-decoration: none;
  color: #f54242;
}
.take_poll {
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  position: relative;
  color: #555;
}
.take_poll__btn:hover .take_poll {
  color: #f54242;
}
@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}
.grid-item {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #929796;
  background-color: #333;
  border-radius: 5px;
}
.grid-item:nth-child(odd) {
  background-color: #424242;
}
.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}
.answer__form__card {
  /* margin: 50px auto 10px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  min-height: 480px; */

  padding: 30px;
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
  border-radius: 5px;
  border: none;
}


/* Footer */
.footer {
  padding-top: 40px;
  background-color: #fff;
}

.footer__about {
  padding-bottom: 5px;
}

.footer_logo {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
  color: #bababa;
}

.footer__text {
  margin-bottom: 30px;
  font-size: 14px;
  color: #999;
}

.footer__social {
  margin-bottom: 25px;
}


.footer__social-header {
  padding-bottom: 15px;

  font-size: 14px;
  color: #777;
}

.footer__social-header  b {
  font-size: 18px;
}

.footer__social-content {
  border-top: 1px solid #bababa;
  padding-top: 15px;
  font-size: 15px;
  color: #777;
  font-style: italic;
  font-weight: 300;
}

.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;

  font-size: 18px;
  color: #777;
}

.footer__social-content a:hover {
  color: #f54242;
}


/* Subscribe */
.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
  margin-bottom: 30px;
}

.subscribe__input {
  width: 60%;
  height: 40px;
  padding: 12px;

  background: #fff;
  border: 1px solid #bababa;
  border-right: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.1;
  color: #333;
  font-style: italic;
  font-weight: 300;
}

.subscribe__input:focus {
  outline: 0;
  border-color: #f54242;
}


.subscribe_btn {
  /* width: 15%; */
  height: 40px;
  padding: 12px 20px;
  margin-top: 20px;
  margin-right: 20px;

  background-color: #f54242;
  border: 0;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;

  transition: background 0.2s linear;
}

.subscribe_btn:hover {
  background-color: #d13838;
}

.subscribe_btn:focus {
  outline: 0;
}

.cancel__btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #777;
  text-decoration: none;
}

.cancel__btn:hover {
  color: #f54242;
  text-decoration: none;
}


/* Copyright */
.footer__copyright {
  padding: 20px 0;
  border-top: 1px solid #bababa;

  font-size: 14px;
  color: #777;
  text-align: center;
}

.footer__copyright span {
  color: #f54242;
}


/* Login header */
.header-login {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 5px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background-color: #ebebeb;
}

.header__logo-login {
  font-size: 25px;
  font-weight: 700;
  color: #bababa;

  text-decoration: none;
}

.header__logo-login:hover {
  color: #f54242;
  text-decoration: none;
}


/* Login nav */
.nav__link-login {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  position: relative;

  color: #777;
  text-decoration: none;

  transition: color 0.1s linear;
}

.nav__link-login::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #f54242;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}
.nav__link-login:hover {
  color: #f54242;
}
.nav__link-login:hover::after {
  opacity: 1;
}


/* Login__header */
.login__header {
  text-align: center;
  font-size: 35px;
  padding-top: 100px;
  padding-bottom: 50px;
}


/* Forms */
form {
  width: 100%;
  overflow: hidden;
}
.form {
  width: 40%;
  max-width: 500px;
  display: flex;
  margin: 20px auto 50px auto;
}
.form input {
  background: #ebebeb;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  margin: 20px 20px 0 20px;
  width: 85%;
}
.form label {
  display: block;
  margin-left: 20px;
}
input.submit-btn {
  background: #f54242;
  border: none;
  color: white;

  cursor: pointer;

  padding: 20px 0 20px 0;
  width: 100%;
  margin: 30px 0 60px 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.login__title {
  margin: 30px auto 10px auto;
  text-align: center;
}
.login__form {
  padding-top: 50px;
  /* background-color: #ebebeb; */
}
/* Login form */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.login__form__title {
  font-weight: bold;
  margin: 80px auto 30px;
}
.login__form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.login__input {
  background-color: #e3e3e3;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.login__form__container {
  margin: 50px auto 10px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  min-height: 480px;
}


/* Search */
.search {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin: 30px auto;
}
.search__input {
  width: 80%;
  height: 40px;
  padding: 12px;

  background: #fff;
  border: 1px solid #bababa;
  border-right: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.1;
  color: #333;
  font-style: italic;
  font-weight: 300;
}
.search__input:focus {
  outline: 0;
  border-color: #f54242;
}
.search_btn {
  width: 20%;
  height: 40px;
  padding: 12px 20px;

  background-color: #f54242;
  border: 0;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  transition: background 0.2s linear;
}
.search_btn:hover {
  background-color: #d13838;
}
.search_btn:focus {
  outline: 0;
}
.title-card {
  font-size: 20px;
  color: black;
}
.big-card {
  background: white;
  padding-top: 10px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  line-height: 1em;

  border: lighgray 1px solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;

  transition: all ease-in-out 200ms;
}


/* Pagination */
.polls__pagination {
  margin: 30px auto;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.page-link {
  color: #333;
}
.page-link:hover {
  color: #f54242;
  background-color: #efcfcf;
}
.page-link:focus {
  box-shadow: 0 0 0 0.2rem #f542421a;
}
.page-item.active .page-link {
  background-color: #f54242;
  border-color: #f54242;
}


/* Tables */
.table__user__polls {
  margin-top: 40px;
}
